@model reviewsite.Model.Product
@addTagHelper *, Microsoft.AspNetCore.MVC.TagHelpers 


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <header>
        <h1>@Model.Name </h1>
        <section id="offWhite">
            <span><strong>@Model.Name</strong></span>
        </section>
    </header>
    <main>
        <section id="airMax">
            <img src="~/images/@Model.Image" alt="Alternate Text" />
            <p></p>
            <ul>
                <li>@Model.Category.Name</li>
                <li>@Model.Description</li>
            </ul>
            <hr />
            <h2>Review List</h2>
            @foreach (var review in Model.Reviews)
            {
                @review.Content
                <hr />
            }
        </section>
        <h4>Write a Review</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>                    
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label">Product being reviewed:</label>
                        <select name="ProductId">
                            <option value="@Model.Id">@Model.Name</option>                            
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

       
    </main>
</body>
</html>
