@model reviewsite.Model.Product


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <header>
        <h1>@Model.Name </h1>
        <section id="offWhite">
            <span><strong>@Model.Name</strong></span>
        </section>
    </header>
    <main>
        <section id="airMax">
            <img src="#" alt="Alternate Text" />
            <p></p>
            <ul>
                <li>@Model.Description</li>
                <li>@Model.Category</li>
                <li>@Model.Review</li>
            </ul>
        </section>
    </main>
</body>
</html>
