@model IEnumerable<reviewsite.Model.Product>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Team A review site!!!</h1>
    

    <h2>Product List</h2>



    @foreach (var product in Model)
     {
    <a href="Home/Details/@product.Id">@product.Name</a>

        @*<p><h3>Product:</h3> <span>@product.Name</span> </p>
        <p><h3>Category:</h3> <span>@product.Category</span></p>
        <p><h3>Description:</h3> <span>@product.Description</span></p>
        <h3>Reviews</h3>
        <p><span>@product.Review</span></p>*@
        <hr />
     }
    
</body>
</html>
